@import 'nib/positions'
@import 'nib/vendor'
@import 'nib/size'
@import './font'

.tweeq-root

  width 250px

  color white
  font-size 0.6875rem
  font-family sans-serif
  text-transform lowercase

  background rgb(35, 32, 40)

  &, & *

    margin 0
    padding 0

    user-select none

.clickable
.clickable *

  cursor pointer

.tweeq-group

  size 100% 100%

.tweeq-row

  position relative
  border-bottom 1px solid rgb(44,44,50)

  > .tweeq-control

    padding 8px
    display flex

  i

    padding 0 4 0 0
    display inline-block

  input

    cursor pointer

  .tweeq-group

    display initial

  label
  input[type='text']

    flex 1 0 auto
    align-self center

.tweeq-depth

  absolute top 0 bottom -1px // accomodate the row's border-bottom
  width 5px
  padding 0

.tweeq-depth.deep
  background-color rgb(32, 170, 239)

.tweeq-depth.ddeep
  background-color rgb(29, 131, 181)

.tweeq-depth.dddeep
  background-color rgb(20, 87, 114)
