@import 'nib/positions'
@import 'nib/vendor'
@import 'nib/size'
@import './font'

.tweeq

  absolute top 0 left 200px
  size 250px auto
  margin 0
  padding 0

  background rgb(35, 32, 40)

  color white
  font-size 0.6875em
  font-family sans-serif
  text-transform lowercase

  *
    margin 0
    padding 0

.tweeq-group

  size 100% 100%

.tweeq-row

  position relative
  border-bottom 1px solid rgb(44,44,50)

  &, & *

    cursor pointer
    user-select none

  > *

    padding 8px

  > label
  > input[type='text']

    flex 1 0 auto
    align-self center

.tweeq-depth

  absolute top 0 bottom -1px // accomodate the row's border-bottom
  width 5px
  padding 0

.tweeq-depth.deep
  background-color rgb(32, 170, 239)

.tweeq-depth.ddeep
  background-color rgb(29, 131, 181)

.tweeq-depth.dddeep
  background-color rgb(20, 87, 114)
