.tweeq-color-preview

  text-align center
  font-family monospace
  font-weight bold

  > span

    padding 0.5em
    display inline-block

.tweeq-color-hsv

  flex 2 1
  display flex

.tweeq-color-satval
.tweeq-color-hue

  height 10em
  position relative
  display inline-block

.tweeq-color-hue

  width 2em

  flex none
  align-self flex-end
  margin-left auto !important

.tweeq-color-satval

  width 10em

  flex none

// The two square gradients that are combined to create the saturation/value
// square. They are absolutely positioned because they must overlap.
.tweeq-color-gradient

  position absolute
  top 0; bottom 0;
  left 0; right 0;

.tweeq-color-tooltip-satval > i

  position relative
  top -0.5em
  left -0.5em