.tweeq-color-preview

  text-align center
  font-family monospace
  font-weight bold

  > span

    padding 0.5em
    display inline-block

.tweeq-color-hsv

  flex 2 1

.tweeq-color-satval
.tweeq-color-hue

  height 10em
  position relative
  display inline-block

.tweeq-color-satval

  width 10em

.tweeq-color-hue

  width 2em

.tweeq-color-sat
.tweeq-color-val

  position absolute
  top 0; bottom 0;
  left 0; right 0;

.tweeq-color-selector-satval

  width 1em
  height 1em
  background black

  position absolute
