@import './theme-default'

.tweeq-number-slider

  flex 1.5 1 0
  position relative

  > div:nth-child(1)

    background black

  > div:nth-child(2)

    background $color-highlight

  ~ input[type='text']

    flex-grow 0.5