.tweeq-color-preview

  text-align center
  font-family monospace
  font-weight bold

  > span

    padding 0.5em
    display inline-block

.tweeq-color-sat

  width 100px
  height 100px

.tweeq-color-hue

  width 15px
  height 100px
