.tweeq {

  top: 0;
  left: 200px;
  position: absolute;

  width: 250px;
  height: auto;
  margin: 0;
  padding: 0;

  background: black;

  color: white;
  font-size: 0.6875em; /* 11 / 16 */
  font-family: sans-serif;
  text-transform: lowercase;

}

.tweeq-container {

  width: 100%;
  height: 100%;

}

.tweeq-control {

  position: relative;

  display: flex;
  padding: 0.5rem;
  background: rgb(28,32,32);

  border-bottom: 1px solid rgb(52,56,56);

}

.tweeq-control,
.tweeq-control * {

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.tweeq-control > label {

  flex: 1 0 auto;
  align-self: center;

}

.tweeq-control > input {

  margin: 0;

}

.tweeq-control > input[type='text'] {

  flex: 1 0 auto;

}

.tweeq-control.tweeq-number > input {

  color: cyan;
  text-align: right;
  background: none;
  outline: none;
  border: none;

}

.tweeq-container > .tweeq-control::before {

  content: '';
  position: absolute;
  top: 0; bottom: -1px; left: 0;
  width: 5px;

}

.tweeq-container.depth-1 > .tweeq-control::before { background-color: #f3175a; }
.tweeq-container.depth-2 > .tweeq-control::before { background-color: #8c115e; }
.tweeq-container.depth-3 > .tweeq-control::before { background-color: #3a0c61; }
